/*Reset CSS*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
li {
    list-style: none;
}
a:link, a:active, a:visited{
    text-decoration: none;
}
body{
    background-color: #fbfcfc;
}

/*Basic classes*/
.wrap-outer{
    max-width: 1404px;
    margin: 0px auto;
}
.wrap-inner{
    max-width: 1172px;
    margin: 0px auto;
}
.btn{
    display: inline-block;
    background-color: #2870db;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    color: #fbfcfc;
    border-radius: 40px;
    padding: 0px 80px;
    box-shadow: 0px 22px 24px rgba(17, 83, 165, 0.21);
}
.btn:hover{
    background-color: #225eb6;
}

/*Header*/
header{
    background-color: white;
    background-image: url(images/bubble-left.png), url(images/banner.png);
    background-repeat: no-repeat, no-repeat;
    background-position: left bottom, right top;
    background-size: 100px, 800px;
    padding-top: 85px;
}
header #top{
    display: flex;
    justify-content: space-between;
}
header #top ul li{
    display: inline;
}
header #top ul li a{
    display: inline-block;
    height: 36px;
    line-height: 36px;
    color: white;
    padding: 0px 36px;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
header #top ul li a.highlight{
    background-color: white;
    color: #14215e;
    border-radius: 18px;
}
#jumbostron h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
    line-height: 60px;
    color: #1c2056;
    margin-top: 149px;
    max-width: 405px;
}
#jumbostron h2{
    font-size: 18px;
    color: rgba(35, 45, 32, 0.65);
    line-height: 40px;
    font-weight: 400;
    margin-top: 38px;
    max-width: 405px;
}
header .btn{
    margin-top: 105px;
    margin-bottom: 310px;
}

/** main **/
#main {
    padding-top: 158px;
    background-image: url(images/circle-bg.png), url(images/circle-small.png), url(images/circle-large.png);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: left 400px, right 386px, right 877px;
}
#main h2{
    font-size: 36px;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #263238;
    text-align: center;
    margin: auto;
}
#main div:first-child h2{
    max-width: 700px;
}
#features{
    position: relative;
    min-height: 1586px;
}
#features > div{
    position: absolute;
    max-width: 549px;
}
#features > div:nth-child(1){
    left: 0px;
    top: 102px;
}
#features > div:nth-child(2){
    right: 0px;
    top: 500px;
}
#features > div:nth-child(3){
    left: 0px;
    top: 955px;
}
#features > div > img{
    display: block;
    margin: 0px auto 62px auto;
}
#features > div > div{
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 27px 43px rgba(32, 94, 171, 0.1);
    min-height: 357px;
    padding: 70px;
}
#features h4{
    font-size: 24px;
    line-height: 36px;
    color: #263238;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}
#features p{
    font-size: 18px;
    line-height: 36px;
    color: #546e7a;
}
#features a.btn{
    position: absolute;
    right: 47px;
    top: 1260px;
}

/** our success **/
#our-success{
    padding-top: 104px;
    padding-bottom: 96px;
}
#our-success h2{
    max-width: 990px;
    text-align: center;
    margin: 0px auto 96px auto;
}
#our-success div{
    display: flex;
    justify-content: space-between;
}
#our-success div p{
    flex-basis: 300px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    line-height: 23px;
    color: #263238;
}
#our-success div p span{
    display: block;
    color: #1a56a3;
    font-size: 36px;
    margin: 36px 0px;
    font-weight: bold;
}
#news {
    padding-top: 96px;
}
#news h2{
    font-size: 36px;
    line-height: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #263238;
    text-align: center;
    margin-bottom: 97px;
}
#news-list{
    display: flex;
    justify-content: space-between;
    padding-bottom: 102px ;
}
#news-list > div{
    max-width: 355px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 27px 43px rgba(32, 94, 171, 0.1);
}
#news-list img{
    border-radius: 10px 10px 0px 0px;
    display: block;
    height: 222px;
    object-fit: cover;
    width: 100%;
}
#news-list h3, #news-list p{
    padding-left: 34px;
    padding-right: 34px;
}
#news-list h3{
    margin-top: 36px;
    margin-bottom: 32px;
}
#news-list h3 a{
    font-size: 24px;
    line-height: 30px;
    color: #263238;
    font-family: 'Open Sans', sans-serif;
}
#news-list p{
    font-size: 18px;
    color: #546e7a;
    line-height: 30px;
    margin-bottom: 32px;
    font-family: 'Open Sans', sans-serif;
}
#news-list a.news-readmore{
    margin-left: 34px;
    margin-right: 34px;
    color: #2870db;
    font-size: 18px;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 65px;
}

/** footer **/
#contact-footer-wrap{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 100% auto;
    min-height: 1250px;
    padding-top: 102px;
}
#contact{
    background-color: #3072c0;
    background-image: url(images/contact-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 665px;
    border-radius: 10px;
    padding-top: 83px;
    text-align: center;
}
#contact p{
    color: white;
    font-size: 36px;
    line-height: 45px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}
#contact input{
    display: block;
    height: 70px;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    border: none;
    color: rgba(84, 110, 122, 0.6);
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 37px;
    margin: 19px auto;
}
#contact input:focus {
    outline: none;
}
#contact .btn{
    background-color: #00aeff;
    border: none;
    color: #fbfcfc;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    margin-top: 52px;
    box-shadow: 0px 22px 24px rgba(17, 83, 165, 0.21);
}
#contact .btn:hover {
    background-color: #00a1eb;
}
footer{
    padding-top: 96px;
    padding-bottom: 86px;
}
footer #links{
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}
footer #links div{
    flex-basis: 240px;
}
footer #links div:last-child{
    flex-basis: 187px;
}
footer #links h4{
    color: white;
    font-size: 18px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 45px;
}
footer #links ul li a {
    display: block;
    line-height: 40px;
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
footer #links ul li a:hover {
    color: #c0c0c0;
}
footer #links div p{
    color: white;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
}
footer #links div span{
    display: block;
}
footer #links div span:first-child{
    margin-top: 15px;
}
footer #socials li{
    display: inline-block;
    margin-right: 9px;
}
footer #socials li:last-child{
    margin-right: 0px;
}
footer #socials li a{
    display: inline-block;
    height: 47px;
    width: 47px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 47px;
}
footer #socials li a img{
    display: inline;
    vertical-align: middle;
}

/** responsive **/
@media (max-width: 1400px){
    .wrap-outer{
        padding-left: 15px;
        padding-right: 15px;
    }
    #contact-footer-wrap{
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1172px){
    .wrap-inner{
        padding-left: 15px;
        padding-right: 15px;
    }
    header{
        padding-top: 20px;
        background-color: white;
        background-image: url(images/banner.png);
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 57%;
    }
    .jumbotron h1{
        margin-top: 60px;
    }
    header .btn{
        margin-top: 67px;
        margin-bottom: 75px;
    }
    #main{
        padding-top: 80px;
        background-size: 70%, 61px, 100px;
    }
    #news-list > div{
        max-width: 335px;
    }
}

@media (max-width: 1060px){
    #jumbostron h1{
        font-size: 43px;
    }
    header .btn{
        margin-top: 30px;
        height: 70px;
        line-height: 70px;
    }
    #news-list{
        display: block;
    }
    #news-list > div{
        max-width: 100%;
    }
}